.navbar-brand {
  font-family: "Courier New", Courier, monospace;
}
.navbar {
  position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
.navbar-collapse {
   position: relative; /* <-- Added */
    z-index: 1;

}
.dropdown-item {
  position: relative; /* <-- Added */
    z-index: 999;
}
.container {
  width: 800px;
}

body {
    position: relative;
    margin-top: inherit;
    top: 50px;
}