@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;


.table {
    box-sizing: border-box;
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 475px;
}
.container {
  margin: 0 auto;
  width: 750px;
    box-sizing: border-box;
  background: #92959E;
  border-radius: 5px;
  border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 675px;
    color: white;
}.


button {
     float: right;
     color: blue;
     font-size: 16px;
     text-transform: uppercase;
     border: none;
     cursor: pointer;
     font-weight: bold;
     background: #F2F5F8;

&
:hover {
    color: darken(blue, 7%);
}

}

.message-data-time {
      color: #86BB71;
      padding-left: 10px;
    }

.message-user {
    color: #94C2ED;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


