{% load static %}
<link rel="stylesheet" href="{% static 'css/popup_chat.css' %}">
<script>
    function find_username(username) {
    var position = username.search("username")+11;
    var end_position = username.indexOf('"', position);

    return username.substring(position, end_position);
}
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var chatsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/popup_chatroom/" + '{{ room.label }}');
    function sendMessage() {
        var message = {
            user: $('#userMenu').val(),
            message: $('#message').val(),
        }
        chatsock.send(JSON.stringify(message));
        $("#message").val('').focus();
        return false;
    }
    chatsock.onmessage = function(message) {
        var data = JSON.parse(message.data);
        var chat = $(".popup-messages");
        console.log('sucess');

        var ele = '<li class="clearfix" style="list-style-type: none;">';
        ele = ele + '<div class="message-data self float-right">&nbsp;';
        ele = ele + '<span class="message-data-name " >' + String(find_username(JSON.stringify(data.user))) + '</span> <i class="fa fa-circle me"></i>';
        ele = ele + '</div>\n' + '<div class="message other-message float-right">';
        ele = ele + String(data.message) + '</div>';
        ele = ele + '<div class="message-data float-right">&nbsp;';
        ele = ele + '<span class="message-data-time" >' + String(data.timestamp) + '</span>' + '</div>' + '</li>';

        chat.append(ele);

        $('.popup-messages').scrollTop($('.popup-messages')[0].scrollHeight);

    };

</script>

<div class="popup-box chat-popup" id={{ room.room_id }}>
    <div class="popup-head">
        <div class="popup-head-left"> {{ room.name }}</div>
            <div class="popup-head-right"><a href="javascript:close_popup('{{ room.room_id }}');">&#10005;</a></div>
                <div style="clear: both">

                </div>
    </div>
    <div class="popup-messages">
        <ul style="list-style-type: none;">
        {% for message in messages %}
                {% if message.user == user %}
                <li class="clearfix" style="list-style-type: none;">
                    <div class="message-data self float-right">&nbsp;
                      <span class="message-data-name " >{{ message.user }} </span> <i class="fa fa-circle me"></i>

                    </div>
                    <div class="message other-message float-right">
                      {{ message.message }}
                    </div>
                    <div class="message-data float-right">&nbsp;
                        <span class="message-data-time" >{{ message.formatted_timestamp }}</span>

                    </div>
                </li>
                {% else %}
                <li class="clearfix" style="list-style-type: none;">
                    <div class="message-data other float-left">&nbsp;
                      <span class="message-data-name float-left" >{{ message.user }}</span> <i class="fa fa-circle me"></i>

                    </div>
                    <div class="message other float-left">
                      {{ message.message }}
                    </div>
                    <div class="message-data ">&nbsp;
                        <span class="message-data-time float-left" >{{ message.formatted_timestamp }}</span>

                    </div>
                </li>
                {% endif %}
        {% endfor %}
        </ul>
    </div>
    <div class="chat-message clearfix">
        <form id="chatform" class="form" action="javascript:sendMessage();">
            <input id="message" class=" input-area" type="text" placeholder ="Type your message">
            <!--<button type="submit" class="col-xs-4 btn btn-primary" id="go">Send</button>-->

        </form>
    </div>


</div>

