{% extends "base.html" %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item active"><a href="{% url 'board_posts' post.board.pk %}">{{ post.board }}</a></li>
{% endblock %}

{% block content %}
  {% load staticfiles %}
  <h1 style="text-align:center">{{ room.name }}</h1>
    <link rel="stylesheet" href="{% static 'chat.css' %}">
    <script type="text/javascript" src='{% static "jquery-1.12.1.min.js" %}'></script>
    <script type="text/javascript" src='{% static "chat.js" %}'></script>
    <script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>

    <table id="chat" class="table">
      <tbody>
            <div id="messages">
                {% for message in messages %}
                    <div class="message-data"><tr>
                        <td class="message-data-time" colspan="1">{{ message.formatted_timestamp }}</td>
                        <td class="message-user" colspan="1">{{ message.user }}</td>
                        <td class="message-text align-left" colspan="3" style="text-align:left">{{ message.message }} </div></td>
                    </tr> </div>
                {% endfor %}
            </div>
      </tbody>
    </table>
        <div class="chat-message">
            <form id="chatform" class="form">
            <input id="message" class="input-area" type="text" placeholder ="Type your message" cols="6"rows="2">

            <button type="submit" class="btn btn-primary" id="go">Say it</button>
            </form>
        </div>


{% endblock content %}
